body {
  background-color: #de378d !important;
}

.content {
  color: #ffffff !important;
}

/* Widen main content area */
main.content {
  max-width: 1100px;   /* was 800px */
  margin: auto;
  text-align: left;
}
